<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.kb.savingAccount.mapper.SavingAccountMapper">
    <resultMap id="savingAccountResultMap" type="com.kb.savingAccount.dto.SavingAccountDTO">
        <result property="stdId" column="std_id"/>
        <result property="savingId" column="saving_id"/>
        <result property="rate" column="rate"/>
        <result property="depositAmount" column="deposit_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="totalAmount" column="total_amount"/>
    </resultMap>
    <delete id="deleteSavingAccount">
        delete from saving_account where account_id = #{id};
    </delete>

    <select id="selectSavingAccount" resultMap="savingAccountResultMap">
        select * from saving_account;
    </select>


    <select id="selectSavingAccountByStudentId" resultMap="savingAccountResultMap">
        SELECT
            a.std_id,
            a.tch_id,
            a.saving_id,
            s.saving_name,
            a.rate,
            a.deposit_amount,
            a.start_date,
            a.end_date,
            a.total_amount
        FROM saving_account a join saving s on a.saving_id = s.saving_id
        WHERE std_id = #{stdId};
    </select>
    <select id="selectSavingAccountByAccountId" resultType="com.kb.savingAccount.domain.SavingAccount">
        select * from saving_account where account_id = #{id}
    </select>

    <insert id="insertSavingAccount" parameterType="com.kb.savingAccount.dto.SavingAccountDTO">
        INSERT INTO saving_account (std_id,tch_id, saving_id, rate, deposit_amount, start_date, end_date, status, total_amount)
        VALUES (#{stdId},#{tchId}, #{savingId}, #{rate}, #{depositAmount}, #{startDate}, #{endDate}, 'y', 0)
    </insert>

    <insert id="insertSavingAccountTeacher" parameterType="com.kb.saving.dto.SavingDTO">
        INSERT INTO saving (product, rate, saving_content, target, deposit_period, deposit_cycle, max_deposit, prime_rate, prime_job)
        VALUES (#{product}, #{rate}, #{savingContent}, #{target}, #{depositPeriod}, #{depositCycle}, #{maxDeposit}, #{primeRate}, #{primeJob})
    </insert>


</mapper>