<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.coupon.mapper.CouponMapper">
    <resultMap id="CouponResultMap" type="com.kb.coupon.dto.CouponDTO">
        <id property="cpId" column="cp_id"/>
        <result property="cpName" column="cp_name"/>
        <result property="cpContent" column="cp_content"/>
        <result property="cpQuantity" column="cp_quantity"/>
        <result property="cpPrice" column="cp_price"/>
    </resultMap>

    <insert id="insertStudentCoupon">
        insert into student_coupon (cp_id, std_id, cp_quantity) values (#{cpId}, #{stdId}, #{quantity});
    </insert>


    <select id="selectCoupon" resultMap="CouponResultMap">
        select * from coupon where cp_quantity > 0;
    </select>

    <select id="selectAvailableCouponById" parameterType="long" resultMap="CouponResultMap">
        select * from coupon where cp_id = #{id} and cp_quantity > 0;
    </select>
    <select id="selectCouponById" resultType="com.kb.coupon.dto.CouponDTO">
        select * from coupon where cp_id = #{id};
    </select>

    <select id="selectStudentCoupon" resultType="com.kb.coupon.domain.StudentCoupon">
        select * from student_coupon where std_id = #{stdId} and cp_id = #{cpId};
    </select>

    <update id="updateCouponQuantity" parameterType="com.kb.coupon.dto.BuyRequest">
        update coupon
        set cp_quantity = cp_quantity - #{quantity}
        where cp_id = #{cpId};
    </update>
    <update id="updateStudentCoupon">
        update student_coupon
        set cp_quantity = cp_quantity + #{quantity}
        where cp_id = #{cpId}
          and std_id = #{stdId};
    </update>


    <select id="getStudentCoupons" parameterType="long" resultType="com.kb.coupon.dto.StudentCouponDTO">
        SELECT stcp_id, cp_id, std_id, cp_quantity
        FROM student_coupon
        WHERE std_id = #{stdId}
    </select>

    <select id="getCouponByCpId" parameterType="long" resultType="com.kb.coupon.dto.CouponDTO">
        SELECT cp_id, cp_name, cp_content, cp_quantity, cp_price
        FROM coupon
        WHERE cp_id = #{cpId}
    </select>
</mapper>