<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.reward.mapper.RewardMapper">
    <insert id="insertReward" parameterType="com.kb.reward.dto.RewardRequest"
            useGeneratedKeys="true" keyProperty="rewardId">
        insert into reward (reward_name, reward_seed)
        values (#{rewardName}, #{rewardSeed});
    </insert>
    <insert id="insertRewardGiveHistory" parameterType="com.kb.reward.dto.RewardGiveRequest">
        insert into reward_give(reward_id, give_date, std_id, tch_id)
        values (#{rewardId}, now(), #{stdId}, #{tchId});
    </insert>

    <update id="deleteRewardById" parameterType="long">
        update reward
        set status = 'n'
        where reward_id = #{rewardId};
    </update>

    <select id="selectRewardList" resultType="com.kb.reward.domain.Reward">
        select *
        from reward
        where status = 'y';
    </select>

    <select id="selectRewardById" resultType="com.kb.reward.domain.Reward">
        select *
        from reward
        where reward_id = #{rewardId};
    </select>
    <select id="selectStudentsList" resultType="com.kb.reward.dto.RewardStudentDTO">
        select s.std_id, s.std_name, s.seed
        from student s
        join teacher t on s.tch_id = t.tch_id
        where t.tch_account = #{userName}
        order by s.std_num;
    </select>
    <select id="selectRewardGiveList" resultType="com.kb.reward.dto.RewardGiveDTO">
        SELECT give_id,
               DATE_FORMAT(give_date, '%Y-%m-%d') AS give_date,
               s.std_name,
               r.reward_name,
               r.reward_seed                      AS give_seed
        FROM reward_give g
                 JOIN reward r ON r.reward_id = g.reward_id
                 JOIN student s ON s.std_id = g.std_id
        ORDER BY DATE(give_date) DESC, g.give_date DESC limit #{limit} offset #{offset};
    </select>
    <select id="selectRewardGiveCount" parameterType="com.kb.reward.dto.RewardGiveParam" resultType="java.lang.Integer">
        select count(distinct give_id)
        from reward_give
    </select>
</mapper>