<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.stockTrade.mapper.StockTradeMapper">
    <select id="selectStockTradeList" resultType="com.kb.stock.domain.StockTrade">
        select * from stock_trade;
    </select>
</mapper>