<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.salary.mapper.SalaryMapper">


    <insert id="insertSalary">
        insert into salary(base_salary, additional_salary,created_at) values (baseSalary, additionalSalary, now());
    </insert>

    <insert id="insertSalaryHistory">
        INSERT INTO salaryhistory (std_id, salary_id, paid_amount, paid_date)
        VALUES (#{stdId}, #{salaryId}, #{baseSalary}, now())
    </insert>

    <select id="selectSalary" resultType="com.kb.salary.dto.Salary">
        select * from salary order by created_at desc limit 1;
    </select>

    <select id="selectSalaryByTchId" resultType="com.kb.salary.dto.SalaryBatchRequest">
        select s.std_id, s.tch_id, a.salary_id, a.base_salary, a.additional_salary
        from student s
                 join salary a
                      on s.tch_id = a.tch_id
        order by tch_id, std_id
        limit #{_pagesize} offset #{_skiprows}
    </select>


</mapper>