<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.student.mapper.StudentMapper">
    <resultMap id="StudentResultMap" type="com.kb.student.dto.StudentDTO">
        <id property="stdId" column="std_id"/>
        <result property="stdNum" column="std_num"/>
        <result property="stdName" column="std_name"/>
        <result property="stdAccount" column="std_account"/>
        <result property="stdBirth" column="std_birth"/>
        <result property="jobId" column="job_id"/>
    </resultMap>

    <update id="updateStudentSeed">
        update student set seed = seed + #{rewardSeed} where std_id = #{stdId};
    </update>

    <select id="selectStudentProfile" parameterType="long" resultMap="StudentResultMap">
        select std_id, std_num, std_name, std_account, std_birth, job_id
        from student
        where std_id = #{studentId}
    </select>

    <select id="selectRecentFiveDaysAttendance" parameterType="long" resultType="com.kb.student.dto.DailyCheckDTO">
        SELECT check_id, std_id, tch_id, check_date, isCheck
        FROM Daily_check
        WHERE std_id = #{studentId}
          AND check_date >= DATE_SUB(NOW(), INTERVAL 5 DAY)
        ORDER BY check_date DESC
    </select>

    <insert id="insertDailyCheck" parameterType="com.kb.student.dto.DailyCheckDTO">
        INSERT INTO Daily_check (std_id, tch_id, check_date, isCheck)
        VALUES (#{stdId}, #{tchId}, #{checkDate}, #{isCheck})
    </insert>
</mapper>