<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.tax.mapper.TaxMapper">

    <select id="getTaxTotalForLastWeek" parameterType="map" resultType="int">
        SELECT SUM(amount)
        FROM Tax
        WHERE DATE(transaction_date) BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="selectTaxPolicyByType" resultType="com.kb.tax.domain.TaxPolicy">
        select * from tax_policy where policy_type = #{policyType};
    </select>

    <update id="updateTaxPolicy" parameterType="com.kb.tax.dto.TaxPolicyDTO">
        UPDATE Tax_Policy
        SET policy_type = #{policyType}, rate = #{rate}
        WHERE policy_id = #{policyId}
    </update>
</mapper>