<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.kb.quizRecord.mapper.QuizRecordMapper">

    <!-- QuizRecordDTO 매핑 -->
    <resultMap id="QuizRecordResultMap" type="com.kb.quizRecord.dto.QuizRecordDTO">
        <id property="qrId" column="qr_id"/>
        <result property="quizId" column="quiz_id"/>
        <result property="stdId" column="std_id"/>
        <result property="isCorrect" column="isCorrect"/>
    </resultMap>


    <insert id="insertQuizRecord" parameterType="com.kb.quizRecord.dto.QuizRecordDTO">
        INSERT INTO quiz_record (qr_id, quiz_id, std_id, isCorrect)
        VALUES (#{qrId}, #{quizId}, #{stdID}, #{isCorrect})
    </insert>


</mapper>