<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.deposit.mapper.DepositMapper">
    <resultMap id="depositResultMap" type="com.kb.deposit.dto.DepositDTO">
        <id property="depositId" column="deposit_id"/>
        <result property="depositName" column="deposit_name"/>
        <result property="depositContent" column="deposit_content"/>
        <result property="maxDeposit" column="max_deposit"/>
        <result property="depositPeriod" column="deposit_period"/>
        <result property="rate" column="rate"/>
    </resultMap>
    <insert id="insertDeposit">
        insert into deposit(deposit_name, deposit_content, max_deposit, deposit_period, rate)
        values (#{depositName}, #{depositContent}, #{maxDeposit}, #{depositPeriod}, #{rate});
    </insert>
    <delete id="deleteDeposit">
        delete from deposit where deposit_id = #{id};
    </delete>

    <select id="getDepositList" resultMap="depositResultMap">
        select * from deposit;
    </select>

</mapper>